@model Assignment1_GoogleAPIBooks.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.authors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.authors)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.publishedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.publishedDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.smallThumbnail)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.Raw(Model.smallThumbnail)" alt="image">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.description</p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN_10)
        </dt>
        <dd class="col-sm-10">
            <p>@Model.ISBN_10</p>
        </dd>
    </dl>
</div>

